/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
}

.box-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
}

#graph {
  width: 100%;
  height: 400px; /* Altezza fissa o dinamica */
  max-width: 100%;
  overflow: hidden;
}

#cambio{
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}